/***********/
/* GENERAL */
/***********/

html, body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	background: radial-gradient(hsla(100, 31%, 60%, 1.00) 0%, hsla(100, 31%, 50%, 1.00) 100%) no-repeat;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
}

/**************/
/* ANIMATIONS */
/**************/

@keyframes fade_in {
	0%    { opacity: 0; }
	100%  { opacity: 1; }
}

/**************/
/* STATUS BAR */
/**************/

.status_bar {
	position: fixed;
	width: 100%;
	background-color: hsla(0, 0%, 0%, 0.50);
}

.players {
	font-size: 1.2em;
	
}

.players li {
	display: inline-block;
	padding: .5em;
	color: hsla(0, 0%, 80%, 1.00);
	border-bottom: .1em solid hsla(0, 0%, 80%, 1.00);
}

.players li .total_cash {
	display: inline-block;
	padding-left: .2em;
	font-size: .8em;
	color: hsla(0, 0%, 80%, 0.20);
}


/*************/
/* PLAY AREA */
/*************/

.play_area {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hand {
	display: block;
	margin-bottom: 1em;
	text-align: center;
}

.card {
	position: relative;
	display: inline-block;
	height: 5em;
	width: 3em;
	margin: 0 .1em 1em .1em;
	border: .2em solid hsla(0, 0%, 0%, 1.00);
	border-radius: 10%;
	animation-name: fade_in;
	animation-duration: 1s;
}
.dealers_hand .card {
	color: hsla(0, 0%, 100%, 1.00);
	border-color: hsla(0, 0%, 100%, 1.00);
}
.dealers_hand .card.face_down {
	background-color: hsla(0, 0%, 90%, 1.00);
}
.players_hand .card.face_down {
	background-color: hsla(0, 0%, 10%, 1.00);
}

.card .type {
	position: absolute;
	top: .1em;
	display: block;
	width: 100%;
	font-size: 2em;
	text-align: center;
	font-weight: bold;
}

.card .suit {
	position: absolute;
	bottom: .2em;
	display: block;
	width: 100%;
	font-size: 2em;
	text-align: center;
}

.actions {
	display: block;
	text-align: center;
	background-color: hsla(0, 0%, 0%, 0.10);
}

.actions a {
	display: inline-block;
	border-top: .2em solid hsla(0, 0%, 80%, 0.00);
	border-bottom: .2em solid hsla(0, 0%, 80%, 0.00);
	font-size: .8em;
	padding: .4em;
	margin: 0 .2em;
	cursor: pointer;
}
.actions a:hover, .actions a:focus {
	border-top: .2em solid hsla(0, 0%, 80%, 1.00);
	border-bottom: .2em solid hsla(0, 0%, 80%, 1.00);
	transition: .3s;
}